/*    GRAL   */

*{
margin:0%;
padding:0%;

}

body {
    font-family: 'Roboto', sans-serif;
    margin-top:110px
}

a {
    color:black;
    text-decoration: none;
    }

 h1 {
        color: white;
        font-size: 25px;
}


h2 {
    color:green;
    padding: 10px 10px 10px 0px;
}


/* HEADER */

header {
    background-color: slateblue;
    display:flex;
    justify-content:space-between;
    align-items:center;
    position: fixed;
    overflow: visible;
    top: 0px;
    width: 100%;
    
}


header a{
    margin: 20px;

}


nav ul li {
    display: inline;
    list-style-type: none;
    background-color: whitesmoke;
    padding:0px;
    margin: 20px;
    width: 100%;

}



/* SECTIONS */

.sectionActualidad{
    background-image: url(../imagenes/cupulabackgorund.jpeg);
    background-repeat: no-repeat;
    background-position: right;
    height: 100%;
    padding:20px 0px;
}

.textoActualidad{

    font-family: "Encode+Sans+Condensed" ;
    font-size: 30px;
    font-weight:bold;
    color:white;
    background-color: rgba(159, 159, 159, 0.8);
    background-size: cover;
    padding:25px 25px;
}


.bodySections{
    line-height: 1.5rem;
    padding:0px;
    margin: 25px;
    margin-top: 1rem;

}



/* FOOTER */

footer {
background-color: slateblue;
color: whitesmoke;
width: 100%;

}

footer p {
    margin-top: 0;
    margin-bottom: 0;

}

.fotoFooterCongreso {
background-position: center;
width: 100%;

}



/* INFORMES.HTML */

.socaloTablaInformes{
color:greenyellow ;
background-color: rgb(150, 150, 150)

}



/* CONTACTO.HTML */

.formContacto { 
	width:80%;
	margin-left:10%;
	margin-right:10%;
    margin-bottom: 200px;
}

.fieldsetContacto {
    justify-content:space-between;

}
/* NOSOTROS.HTML */

.sectionNosotros {
    display:flex;
    justify-content: space-between;
    align-items: center;
    
}

.gridConteiner {
    display:grid;
    grid-template-columns: repeat(5, 1fr);
    gap:10px;
    grid-auto-rows: 200px;

    

}

.gridItem {

    width:100%;
    height: 100%;
    object-fit:cover;
    border-radius: 5px;
 
}

.gridItem2 {

    width:100%;
    height:205%;
    object-fit:cover;
    border-radius: 5px;
 
}


/* 
.gridItem:hover {

    filter: opacity(0.9);
}

.gridItem2:hover {

    filter: opacity(0.9);
} */

/* MEDIA QUERIES */

@media screen and (max-width:768px) {
   
    h1{
        display:none;

    }

    .gridConteiner {
        display:grid;
        grid-template-columns: repeat(2, 1fr);
        gap:10px;
        grid-auto-rows: 200px;
    
        
    
    }

    .gridItem2 {

        width:100%;
        height:100%;
        object-fit:cover;
        object-position: top;
        border-radius: 5px;
     
    }
        

}


@media screen and (max-width:425px) {
   
    h1{
        display:none;

    }
 
    nav ul li {
        display: block;
        list-style-type: none;
        background-color: whitesmoke;
        padding:0px;
        margin: 10px;
        width: 100%;
    
    }
    
    #logofoia{
        width: 100%;
        margin: 5 5;
        position: relative;
    }

    .gridConteiner {
        display:grid;
        grid-template-columns: repeat(1, 1fr);
        gap:10px;
        grid-auto-rows: 200px;
    
        
    
    }

    .gridItem2 {

        width:100%;
        height:100%;
        object-fit:cover;
        border-radius: 5px;
     
    }
    

}


@media screen and (max-width:658px) {


    h2 {
        padding-top: 100px;
    }
}